html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #333;
  font-family: monospace;
  color: white;
}

#gl-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #444;
}

#menu {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(200, 200, 200, 0.3);
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  max-width: 250px;
}

#menu.hidden {
  display: none;
}
